*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 10px 30%;
  height: 100px;
  text-align: center;
  padding: 10px 25px;
  align-content: center;
}
.question-container{
  margin:0% 30%;
  height: 100%;
  word-wrap: normal;
  padding: 10px 25px;
  text-align: center;
}
.question-container h2{
  margin:10px;
  text-align: left;
}
.question-container h3{
  margin:5px 10px;
  text-align: left;
}
button {
  list-style: none;
  list-style-type: none;
}
.start-prompt {
  margin: 10px 30%;
  height: 100px;
  text-align: center;
  padding: 10px 25px;
  align-content: center;
}
.centered {
  align-content: center;
  text-align: center;
}
div {
  display:flex;
}