/*General CSS Rules*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*Rules for header*/
.container {
  margin: 10px 30%;
  height: 100px;
  text-align: center;
  padding: 10px 25px;
  align-content: center;
}
/*Rules for main container containing quiz, highscore and submission*/
.question-container{
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: #0080ff;
  background-color: #e2edf8;
  margin:0% 30%;
  height: 100%;
  word-wrap: normal;
  padding: 10px 25px;
  text-align: center;
}

/*Element specific question-container*/
.question-container h2{
  margin:10px;
  text-align: left;
}
.question-container h3{
  margin:5px 10px;
  text-align: left;
}
#high-scores-h1 {
  display: block;
  padding: 5px;
  margin: 5px;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
}
/*Container for Form*/
div {
  display:flex;
}

/*Global CSS for major hx values*/
h1 {
  color:#364dcf;
}
h2{
  
  color:#364dcf;
}
h3 {
  
  color:#1f6196;
}

/*Controls CSS for all buttons and some specific elements*/
button {
  font-weight: bolder;
  list-style: none;
  list-style-type: none;
  margin: 5px;
  padding:5px 25px;
  border-radius: 15px;
  background:lightblue;
  font-weight: lighter;
}
.back{
  display:inline-flex;
}

/*Input box behavior*/
input {
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: lighter;
  font-size: large;
}
/*Form flexing*/
form {
  display:inline-flex
}

/*media query for smaller desktop screens and smaller*/
@media screen and (max-width:980px) {
  .question-container {
    margin: 0 10%;
    margin-top: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  form {
    display: inline-flex;
    flex-direction: column;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
}